extends layout

block content
  h1= title
  p Dresses are very important in everyones life.
  div(class="container-fluid")
        div(class="row")
            -
                var  Dresses = [
                    {
                        "name": "shirt",
                        "cost":20,
                        "brand": "levis"                        
                    },
                    {
                        "name": "trousers",
                        "cost": 40,
                        "brand": "UCB"
                    },
                    {
                        "name": "coats",
                        "cost": 80,
                        "brand": "calvin klein"
                    },                   
                ]
            each k in Dresses
                div(class="col-sm-2") #{k.name}
                br
                div(class="col-sm-2") #{k.cost}
                div(class="col-sm-2") #{k.brand}